<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Wallpaper_Carousel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Wallpaper_Carousel.Properties.Settings>
            <setting name="HideSystemTrayIcon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSaveImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="Autorun" serializeAs="String">
                <value>False</value>
            </setting>
        </Wallpaper_Carousel.Properties.Settings>
    </userSettings>
</configuration>